@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 259 100% 95%;
    --foreground: 270 50% 20%;
    --card: 259 100% 100%;
    --card-foreground: 270 50% 20%;
    --popover: 259 100% 100%;
    --popover-foreground: 270 50% 20%;
    --primary: 270 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 259 50% 90%;
    --secondary-foreground: 270 50% 20%;
    --muted: 259 50% 90%;
    --muted-foreground: 270 20% 45%;
    --accent: 225 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 259 50% 88%;
    --input: 259 50% 88%;
    --ring: 270 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 120 10% 5%;
    --foreground: 120 5% 98%;
    --card: 120 10% 5%;
    --card-foreground: 120 5% 98%;
    --popover: 120 10% 5%;
    --popover-foreground: 120 5% 98%;
    --primary: 120 80% 40%;
    --primary-foreground: 120 10% 5%;
    --secondary: 120 15% 15%;
    --secondary-foreground: 120 5% 98%;
    --muted: 120 15% 15%;
    --muted-foreground: 120 5% 63.9%;
    --accent: 120 70% 50%;
    --accent-foreground: 120 10% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 15% 20%;
    --input: 120 15% 20%;
    --ring: 120 80% 40%;
    --chart-1: 120 70% 50%;
    --chart-2: 120 60% 45%;
    --chart-3: 120 80% 55%;
    --chart-4: 120 65% 60%;
    --chart-5: 120 75% 55%;
    --sidebar-background: 120 10% 8%;
    --sidebar-foreground: 120 5% 95.9%;
    --sidebar-primary: 120 70% 40%;
    --sidebar-primary-foreground: 120 5% 98%;
    --sidebar-accent: 120 10% 12%;
    --sidebar-accent-foreground: 120 5% 95.9%;
    --sidebar-border: 120 10% 12%;
    --sidebar-ring: 120 70% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
